import { serializeSearchQuery } from "./serializeSearchQuery";

export const buildQueryKey = (endpoint: string, searchQuery?: Record<string, string | number | null | boolean | undefined>): string[] => {
  const baseKey = endpoint.split("/").filter(Boolean);

  return searchQuery
    ? [...baseKey, serializeSearchQuery(searchQuery)]
    : baseKey;
};